body {
    text-align: center;
    background:url(../img/00.jpg) ;
    background-size: cover;
    background-position: center;
  }
  
  h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    margin-top: 4rem;
    color: #0d004c;
  }
  
  h2 {
    margin: 1em 0 0.25em;
    color: #08a90b;
  }
  
  h2:first-of-type {
    margin-top: 0.5em;
  }
  form{
      color: #28782A;
      font-size: 1.2rem;
  }
  table,
  tr,
  td {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  tr {
    height: 30px;
  }
  
  td {
    width: 30px;
  }
  
  input[type="number"] {
    width: 6em;
  }
  